@import url('https://fonts.googleapis.com/css2?family=Acme&family=Black+Ops+One&family=Oswald&family=Titillium+Web:wght@100;200;300;700;900&display=swap');
*{
  font-family: 'Titillium Web', Courier, monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main{
  overflow-x: hidden;
}