.bright-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -10;
    background: rgb(207, 207, 207);
    overflow-x: hidden;
    --component_color: rgba(207, 207, 207, 0.582);
    --text_color: black;
    --subtext_color: rgb(31, 31, 31);
    --secondary_color: rgb(14, 121, 171);
}
.dark-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -10;
    background: #1c1c1c;
    overflow-x: hidden;
    --component_color: rgba(21, 21, 21, 0.892);
    --text_color: white;
    --subtext_color: rgb(208, 208, 208);
    --secondary_color: rgb(14, 121, 171);
}

/* 
    background: #252a3b;

    --component_color: rgba(23, 24, 43, 0.892);
*/

