.page-container{
    display: flex;
    width: 100vw;
}
.page-component{
    flex: 6;
    border-radius:20px;
    border: 2px solid red;
}

.page-component2{
    flex: 2;
    border-radius:20px;
    border: 2px solid red;
}