@import url("../variables.css");

.login-page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.login-container{
    z-index: 2;
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;   
}
.login-left-part,.register-left-part{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    flex: 1;
    justify-items: center;
    align-items: center;
    height: 100%;
    background-color: #1a1c1ea9;
    backdrop-filter: blur(20px);
}
.register-left-part{
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 70px;
    display: flex;
    flex-direction: column;
}
.register-left-part img{
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 60%;
    object-fit: cover;
}
.login-right-part{
    flex: 1;
    background-color: #000000bd;
    backdrop-filter: blur(20px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-right-part-item-1{
    display: flex;
    align-items: center;
    flex: 1;
}
.login-right-part-item-3{
    flex: 3;
}
.login-right-part-item-4{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1;
}
.login-no-account-row{
    flex: 1;
}
.login-right-part-item-3{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-right-part-item-3 span{
    align-self: flex-start;
    margin-top: 20px;
}
.login-right-part-item-3 input{
    width: 100%;
    height: 30px;
    background-color: #2222227a;
    margin-top: 10px;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    border: none;
}
.login-right-part-item-3 button,.register-left-part span{
    background-color: #696969;
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    cursor: pointer;
}
.login-right-part-item-4 span{
    color: #696969;
    font-weight: bold;
}
.login-change-page-button{
    cursor: pointer;
}