.drop-down-container{
    position: absolute;
    top: 110;
    background-color: black;
    color: white;
    position: fixed;
    top: 70px;
    z-index: 6;
    right: 0;
    cursor: pointer;
    background-color: #1a1c1ea9;
    backdrop-filter: blur(20px);
    padding: 15px;
}