@import url("../variables.css");
.nav-bar-container{
    background: var(--component_color);
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text_color);
    width: 100%;
}
.nav-bar-search-container{
    flex: 3;
    height: 40px;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-bar-right-side{
    height: 100%;
    display: flex;
    gap: 40px;
}
.nav-bar-notification-icons{
    display: flex;
    height: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.nav-bar-search-container input{
    width: 80%;
    color: var(--text_color);
    margin: 10px;
    border: none;
    background: none;
}
.nav-bar-search-container input:focus{
    outline: none;
    background: none;
}
.nav-bar-user-container{
    display: flex;
    flex: 1;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.nav-bar-user-container img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    object-fit: cover;
}