.nav-bar-container{
    background: rgba(0, 0, 0, 0.244);
    backdrop-filter: saturate(180%) blur(10px);
    padding: 20px 0px;
    position: sticky;
    top: 0;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.nav-bar-search-container{
    width: 80%;
    height: 40px;
    border-radius: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #34303e;
}
.nav-bar-react-icons{
    margin-left: 10px;
}
.nav-bar-search-container input{
    width: 80%;
    color: white;
    margin: 10px;
    border: none;
    background: none;
}
.nav-bar-search-container input:focus{
    outline: none;
    background: none;
}