@import url("../variables.css");
.post-container{
    background: rgba(23, 24, 43, 0.892);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 38px -5px rgba(41, 41, 41, 0.49);
    -moz-box-shadow: 0px 0px 38px -5px rgba(34, 34, 34, 0.49);
    box-shadow: 0px 0px 38px -5px rgba(31, 31, 31, 0.49);
    border-radius: 7px;
    color: white;
    width: 100%;
    max-width: 650px;
    margin-top: 40px;
}
.post-top-row{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-profile-info{
    display: flex;
    gap: 15px;
    align-items: center;
}
.post-time{
    color: gray;
    font-size: 13px;
    font-weight: 100;
}
.post-tags{
    color: #436cf6;
    align-self: flex-start;
    margin: 10px 0px;
}
.post-profile-info img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.post-description p{
    width: 100%;
}
.post-description img{
    margin: 10px 0px;
    border-radius: 5px;
    width: 90%;
    height: auto;
    object-fit: cover;
    max-height: 300px;
}
.post-name-date{
    display: flex;
    flex-direction: column;
}
.post-description{
    margin: 0px 25px 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.post-bottom-row{
    width: 100%;
    padding: 15px 35px 15px 35px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 16px;
}
.post-buttons-left-side{
    display: flex;
    gap: 30px;
}
.post-icon-container{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-icon-container{
    gap: 10px
}
.post-icon{
    color: white;
}
.post-comment-part{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.post-comment-part input{
    color: white;
    width: calc(90% - 142px);
    margin-left: 10px;
    background: none;
    border: none;
    border-bottom: #69696f solid 1px;
    border-radius: 2px;
    padding: 5px;
}
.line-breaker-post{
    width: 90%;
    height: 2px;
    align-self: center;
    margin: 5px 0px;
    background-color: #69696f;
}
.post-comment-part img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
.post-comment-part button{
    width: 50px;
    border: none;
    margin-left: 5px;
    background-color: #fca37d;
    font-size: 13px;
    padding: 5px 0px;
    border-radius: 10px;
    cursor: pointer;
}
.emoji-picker-container{
    position: absolute;
    z-index: 2;
    right: 5px;
    margin-top: 5px;
}
.emoji-button-container{
    position: relative;
    width: 50px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
}
.emoji-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
}
.emoji-icon{
    color: #fca37d;
}
.post-three-dots{
    cursor: pointer;
    position: relative;
    font-size: 20px;
    list-style: none;
}
.three-dots-menu li{
    display: flex;
    gap: 4px;
    margin: 10px;
    font-size: 14px;
}
.three-dots-menu{
    width: auto;
    position: absolute;
    top: 25px;
    right: 0px;
    border-radius: 7px;
    border: white solid 1px;
    background-color: #161718;
}
.post-comment-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}