@import url("../variables.css");
.post-container{
    background-color: #1a1c1e;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 38px -5px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 38px -5px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 38px -5px rgba(0,0,0,0.49);
    border-radius: 7px;
    color: white;
    width: 600px;
}
.post-top-row{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-profile-info{
    display: flex;
    gap: 15px;
    align-items: center;
}
.post-time{
    color: gray;
    font-size: 13px;
    font-weight: 100;
}
.post-profile-info img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.post-three-dots{
    font-size: 20px;
}
.post-description img{
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    height: auto;
    max-height: 300px;
}
.post-name-date{
    display: flex;
    flex-direction: column;
}
.post-description{
    margin: 0px 25px 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.post-bottom-row{
    margin: 15px 25px 15px 25px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.post-icons-container,.post-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.post-comment-stat{
    width: 200px;
    padding: 0px 10px;
}
.post-comment-stat input{
    color: white;
    padding: 2px 5px;
    background: none;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: #69696f solid 1px;
}
.post-icons-container{
    gap: 15px;
}
.post-icon-container{
    gap: 3px
}
.heart-icons{
    color: rgb(77, 0, 0);
}
.comment-icons{
    color: rgb(0, 7, 84);
}
.share-icons{
    color: rgb(150, 70, 0);
}
.see-more-comments{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #69696f;
    margin: 5px 0px
}