@import url("../variables.css");


.sidebar-dashed-divider{
    margin: 15px 0px;
    width: 90%;
    border-top: 2px dashed grey;
    align-self: center;
}
.contact-chat-icon{
    color: #436cf6;
    margin-left: auto;
    margin-right: 20px;
}

.sidebar-container{
    background: var(--component_color);
    color: var(--text_color);
    padding-left: 5px;
    /*backdrop-filter: blur(20px);*/
    z-index: 1;
    /*overflow-y: scroll;*/
    height: calc(100vh - 70px);
    flex: 1;
    position: sticky;
    top: 70px;
    display: flex;
    flex-direction: column;
}

.sidebar-container h3{
    color: var(--secondary_color);
}


.sidebar-contact-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-user{
    margin: 5px 0px;
    width: 100%;
    display: flex;
    align-items: center;
}
.contact-user img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.contact-text-information{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.contact-text-information span{
    font-size: 12px;
}