@import url("../variables.css");

.sidebar-dashed-divider{
    margin: 15px 0px;
    width: 90%;
    border-top: 2px dashed grey;
    align-self: center;
}
.contact-chat-icon{
    color: #436cf6;
    margin-left: auto;
    margin-right: 20px;
}

.sidebar-container{
    background: rgba(23, 24, 43, 0.808);
    backdrop-filter: blur(10px);
    padding-left: 20px;
    z-index: 1;
    color: white;
    height: calc(100vh);
    flex: 1;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: column;
}
.sidebar-contact-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact-user{
    margin: 5px 0px;
    width: 100%;
    display: flex;
    align-items: center;
}
.contact-user img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}
.contact-text-information{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.contact-text-information span{
    font-size: 12px;
    color: grey;
}