.sidebar-container{
    overflow-y: scroll;
    height: calc(100vh - 60px);
    flex: 2;
    position: sticky;
    top: 70px;
}
.sidebar-item{
    list-style: none;
    margin: 0.5rem;
    padding: 0.5rem;
    padding-left: 0px;
    background-color: #fff;

}